@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 270 100% 99%;
    --foreground: 280 60% 20%;

    --card: 270 30% 97%;
    --card-foreground: 280 60% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 280 60% 20%;

    --primary: 282 68% 38%;
    --primary-foreground: 0 0% 100%;

    --secondary: 270 50% 96%;
    --secondary-foreground: 280 60% 20%;

    --muted: 220 14% 96%;
    --muted-foreground: 220 12% 30%;

    --accent: 282 58% 30%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 270 18% 86%;
    --input: 270 18% 86%;
    --ring: 282 68% 38%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 345 25% 8%;
    --foreground: 35 20% 95%;

    --card: 345 20% 12%;
    --card-foreground: 35 20% 95%;

    --popover: 345 20% 12%;
    --popover-foreground: 35 20% 95%;

    --primary: 345 70% 45%;
    --primary-foreground: 35 25% 98%;

    --secondary: 345 15% 18%;
    --secondary-foreground: 35 20% 95%;

    --muted: 345 15% 18%;
    --muted-foreground: 35 22% 80%;

    --accent: 40 75% 60%;
    --accent-foreground: 35 20% 95%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 345 18% 28%;
    --input: 345 18% 28%;
    --ring: 345 70% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-wrap-balance {
    text-wrap: balance;
  }

  .text-line-clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text-avoid-break {
    overflow-wrap: normal;
    word-break: keep-all;
    hyphens: none;
  }
}
